@import url('https://fonts.googleapis.com/css2?family=Simonetta:wght@400;900&family=Lora:ital,wght@1,500;1,600;1,700&family=Montserrat:wght@400;500;600&display=swap');

*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    --head-font: 'Simonetta', cursive;
    --sub-head-font: 'Lora', serif;
    --text-font: 'Monsterrat', sans-serif;
}

.header {
    width: 100%;
}

.header .navbar {
    z-index: 99;
    padding: 1rem 5rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e22525;
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(226,37,37,1) 0%, rgba(211,49,49,1) 82.8% );
    box-shadow: 0 2px 4rem rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar .nav-head {
    font-family: var(--head-font);
    font-size: 4.5rem;
    font-weight: 900;
    color: #ffbc02;
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(-109.6deg,  rgba(255,207,84,1) 11.2%, rgba(255,158,27,1) 91.1% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-links li {
    margin: 0 2rem;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li .nav-link,
.nav-links li .nav-link:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: var(--sub-head-font);
    font-weight: 700;
    color: #ffbc02;
    height: 100%;
    padding: 2.5rem 0;
    transition: all 0.3s ease;
    position: relative;
}

.nav-links li .nav-link:hover,
.nav-links li .nav-link:active {
    color: #ffd900;
}

.nav-links li .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100%;
    background-color: #ffbc02;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.nav-links li:hover > .nav-link::after,
.nav-links li:active > .nav-link::after {
    transform: scaleX(1);
}

.main .hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../images/hero-bg.jpg'),
    linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.8));
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero .hero-title {
    font-size: 15rem;
    font-family: var(--head-font);
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero .hero-subhead {
    font-family: var(--sub-head-font);
    font-size: 3rem;
    font-weight: 500;
    color: #f5f5f5;
}

.hero-subhead > span:nth-child(1) {
    color: #ffbc02;
}

.hero-subhead > span:nth-child(2) {
    color: #70d100;
}

.about {
    padding: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #006a65;
}

.about .about-head {
    font-family: var(--head-font);
    font-size: 8rem;
    font-weight: 900;
    color: #e2ebf0;
    text-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    cursor: default;
    margin-bottom: 4rem;
    text-transform: uppercase;
}

.about .about-content {
    margin: 0 10rem;
    padding: 4rem 3rem;
    font-family: var(--text-font);
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    color: #f5f5f5;
    line-height: 3rem;
    position: relative;
}

.about .about-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f5f5f5;
    width: 100%;
    height: 4px;
    border-radius: 50%;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem;
    background-color: #103e5f;
    color: #f5f5f5;
}

.projects .projects-head {
    font-family: var(--head-font);
    font-size: 8rem;
    font-weight: 900;
    color: #e2ebf0;
    text-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    cursor: default;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.projects .projects-subhead {
    font-family: var(--sub-head-font);
    padding: 2rem 4rem;
    font-size: 2rem;
    font-weight: 500;
    position: relative;
    margin-bottom: 4rem;
    text-align: center;
}

.projects .projects-subhead::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f5f5f5;
    width: 100%;
    height: 4px;
    border-radius: 50%;
}

.projects .projects-subhead a,
.projects .projects-subhead a:visited {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 2.1rem;
    font-weight: 700;
    transition: all 0.3s ease;
}

.projects .projects-subhead a:hover,
.projects .projects-subhead a:active {
    color: #dadada;
}

.projects .projects-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-group .project-tile {
    margin: 2rem 2rem;
    padding: 3rem 1rem;
    border-radius: 5px;
    background-color: rgba(12, 186, 186, 0.2);
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
    cursor: pointer;
}

.projects-group .project-tile:hover {
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.project-tile a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-tile a .project-img {
    max-width: 50rem;
    min-height: 30rem;
    max-height: 32rem;
    margin-bottom: 2rem;
}

.project-tile a .project-name {
    padding: 0 1rem;
    text-align: center;
    font-family: var(--text-font);
    font-size: 2.2rem;
    font-weight: 400;
    color: #0ee6e6;
    text-transform: capitalize;
    transition: all 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-tile a .project-name:hover {
    color: #1ab6b6;
}

.project-tile a .project-name ion-icon {
    transition: margin 0.4s ease;
    font-size: 1.6rem;
    margin-left: 0.5rem;
}

.project-tile a .project-name:hover > ion-icon {
    margin-left: 1rem;
}

.footer {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10rem 0;
    padding-bottom: 0;
    background-color: #7f5a83;
}

.footer .footer-head {
    font-family: var(--head-font);
    font-size: 7rem;
    font-weight: 900;
    color: #e2ebf0;
    transition: all 0.3s ease;
    cursor: default;
    margin-bottom: 1rem;
    text-transform: capitalize;
    text-align: center;
}

.footer .footer-subhead {
    font-family: var(--sub-head-font);
    font-size: 2rem;
    font-weight: 500;
    position: relative;
    text-align: center;
    color: #f5f5f5;
}

.footer .contact-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    margin-bottom: 10rem;
    font-family: var(--text-font);
}

.contact-links .contact-link {
    margin: 0 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #e6dee9;
    font-size: 2.5rem;
    transition: all 0.4s ease-in-out;
}

.contact-links .contact-link:hover,
.contact-links .contact-link:active {
    color: #ff99e7;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.footer .footer-foot {
    border-top: 2px solid #e6e6e6;
    padding: 2rem 0;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--text-font);
    color: #e6dee9;
    font-weight: 500;
}